doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body
        h2 Activa tu  Cuenta 
        p Hola, Has creado una cuenta en IDCASTask para poder activar tu cuenta, debes hacer  click en el siguiente enlance para activarla.

        a(href=`${resetUrl}`) Activar la cuenta
        p si no puedes acceder a este enlance, visita #{resetUrl}
        p si no has creado una cuenta con este e-mail, puedes ignorarlo
