doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body
        h2 Reestablecer Contraseña
        p Hola, Has solicitado reestablecer la contraseña, has click en el siguiente enlance para reestablecerlo, este enlance temporal así que si se vence vuelve a solicitarlo
        a(href=`${resetUrl}`) Ir a resetar la contraseña
        p si no puedes acceder a este enlance, visita #{resetUrl}
        p si no solicitaste este e-mail, puedes ignorarlo
