doctype html
html(lang="en")
    include ../partials/head
    body.login 
        .contenedor-formulario
            h1= titlePage
            p Agrega tu email para reestablecer tu contraseña

            if locals.messages
                .alertas 
                    each category in Object.keys(locals.messages)
                        each error in messages[category]
                            .alerta
                                p.error= error

            form.caja.caja-login(method="POST" action="/usuario/create-token")
                .campo
                    label(for="email") Email: 
                    input(type="email" name="email" placeholder="Tu email") 

                .campo.enviar 
                    input.boton(type="submit", value="Reestablecer contraseña")

                .campo.acciones
                    a(href="/usuario/login") Hacer Login
