doctype html
html(lang="en")
    include ../partials/head
    body.login 
        .contenedor-formulario
            h1= titlePage
            p Escribe tu nueva contrase単a
            if locals.messages
                .alertas 
                    each category in Object.keys(locals.messages)
                        each error in messages[category]
                            .alerta
                                p.error= error 

            form.caja.caja-login(method="POST")
                .campo
                    label(for="password") Nueva Contrase単a: 
                    input(type="password" name="password" placeholder="Tu nueva contrase単a") 

                .campo.enviar 
                    input.boton(type="submit", value="Reestablecer contrase単a")
